<footer class="page-footer">
  <div class="container">
  <div class="row">
  <div class="col-md-8 s12">
  <h5 class="white-text">viperdev</h5>
  <p class="grey-text text-lighten-4">The Leading Edge Way to Improve Code Quality
  </p><br>  <!-- # Ignore HTMLLintBear -->
  <span class="navigation-text">Navigation</span>
  <ul class="footer-nav-links">
  {% assign sorted_pages = site.pages | sort:"order" %}
  {% for node in sorted_pages %}
  {% if node.order %}
  {% if page.url == node.url %}
  <li class="active"><a href="{{node.url | prepend: site.baseurl }}" class="active">{{node.title}}</a>
  {% else %}
  <li><a href="{{node.url | prepend: site.baseurl }}">{{node.title}}</a>
  {% endif %}
  {% endif %}
  {% endfor %}
  </ul>
</div>
<div class="col-md-4 offset-l2 s12">
  <h5 class="white-text">Any Questions or Queries ?</h5>
  <a href="//gitter.im/viper-development/support" target="blank" class="mailbtn btn-large waves-effect grey-text text-lighten-4 activate-sidecar">Chat with us <span class=""><i class="mailicn fa fa-commenting" aria-hidden="true"></i>
  </span></a>
  <div class="or-text">OR</div>
  <div>
  <a href="mailto:contact@viperdev.io" class="mailbtn drop-btn btn-large waves-effect grey-text text-lighten-4">Drop us a <span class="mail-icon"> <i class="mailicn material-icons">email</i></span></a>
</div>
</div>
</div>
</div>
</div>
<div class="footer-copyright">
  <div class="container">
    © 2016 viperdev
    <a class="grey-text text-lighten-4 right" href="disclaimer.html">Disclaimer</a>
  </div>
</div>
</footer>
