<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h2>Save Revenue and Developer Costs by Enhancing Code Quality</h2>
            <hr>
            <p>We provide workshops and work with your team to improve not only your code quality, but have a long term effect on your team(s).</p>
            <hr>
            <p>Brought to you by the creators of <a href="http://coala.io/" style="color: #0AF">coala</a> and <a href="http://gitmate.io/" style="color: #0AF">GitMate</a></p>
            <a href="#services" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
