<head>

  <title>Viper Development</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="3MxLuQtEelSh5nHREm_lnsR9IRUOFCy6crcXLdK_v7Y">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-sanitize.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  <link rel="stylesheet" href="{{ "/assets/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/bootstrap.min.css" | prepend: site.baseurl }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700" rel="stylesheet"><link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script src="{{ "/assets/app.js" | prepend: site.baseurl }}" type="application/javascript"></script>
  <script src="{{ "/assets/gitter.js" | prepend: site.baseurl }}"></script>
  <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
  <link rel="shortcut icon" type="image/png" href="{{ "/assets/images/favicon.png" | prepend: site.baseurl }}">
  <script src="{{ "/assets/sidenav.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/analytics.js" | prepend: site.baseurl }}"></script>

</head>
