  <aside>
      <div class="container text-center">
          <div class="call-to-action">
              <h2>“Viper Development successfully brought new ideas into the functional part of our system. Their empathy and leadership skills have helped us to persuade people to give up their legacy code and wrong habits. I am happy to be able to highly recommend them.”</h2>
              <p>Stanislav Komanec, Team Lead at Skypicker</p>
          </div>
          <div class="call-to-action">
              <h2>“Lasse's social talk was the best I have heard in all the conferences I have visited this year! It was presented passionately and was very practical and insightful. That is a rare combination because you hear often passionate talks about nothing and practical talks that are just dull.”</h2>
              <p>Dmitry Trofimov at PyCon DE, Team Lead at PyCharm</p>
          </div>
          <div class="call-to-action">
              <h2>“@sils1297 could make an IT guru out of a Business analyst, I'm sure.”</h2>
              <p><a href="https://gitter.im/coala-analyzer/coala?at=56c65f357a66b5965f68c3cd">https://gitter.im/coala-analyzer/coala?at=56c65f357a66b5965f68c3cd</a></p>
          </div>
      </div>
  </aside>
