  <aside>
      <div class="container text-center">
          <div class="call-to-action">
              <h2>
              “Viper Development successfully brought new ideas into our
              system. Their empathy and leadership skills have persuaded
              developers to give up legacy code and difficult habits. I am
              happy to be able to highly recommend them.”</h2>
              <p>Stanislav Komanec, Team Lead at Skypicker</p>
          </div>
          <div class="call-to-action">
              <h2>
              “This social talk was the best I have heard in all the
              conferences this year! Being passionately, very practical
              <b>and</b> insightful - a rare combination.”</h2>
              <p>Dmitry Trofimov at PyCon DE, Team Lead at PyCharm</p>
          </div>
      </div>
  </aside>
