<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">We Want to Make a Lasting Change to Your Business</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-male wow bounceIn text-primary"></i>
                    <h3>We Work with People</h3>
                    <p class="text-muted">
                      We understand that your developers are great and know the
                      most about your software. Successfully improving the
                      quality of your software involves not working against
                      your developers but with them to gain a lasting improvement.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-unlock wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Unlock Your Teams Next Level</h3>
                    <p class="text-muted">
                      We offer workshops to get your teams up to speed when it
                      comes to code quality. Topics include <i>Working With Git</i>,
                      <i>Finding the Perfect Development Workflow for Your Company</i>
                      or workshops customized to your needs.
                    </p>
                 </div>
             </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-repeat wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Introduce Continuous Integration</h3>
                    <p class="text-muted">
                      We use <a href="http://gitmate.io/">and</a>
                      <a href="https://coala.io/">develop</a> many parts of
                      continuous integration on a daily basis.
                      We love to share our experience with you by introducing
                      your teams into those concepts with workshops or by working
                      with your team for a while.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Passionate Custom Software Solutions</h3>
                    <p class="text-muted">
                      We passionately deliver only the best possible services
                      to our customers. We love what we're doing and you can
                      profit from that. If we think another service provider
                      might be able to help you better than us - we'll tell
                      you right away.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
