<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-male wow bounceIn text-primary"></i>
                    <h3>Awesome Workshops</h3>
                    <p class="text-muted">We offer Python and Git workshops backed with experience from home grown projects with way over 100 contributors.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-unlock wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Liberating</h3>
                    <p class="text-muted">
                      Free software is what we do best and we believe it's best
                      for you too!
                    </p>
                 </div>
             </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-repeat wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Quality Counts</h3>
                    <p class="text-muted">
                      We use continuous integration and other quality
                      enhancement tools to make sure all our projects are
                      maintainable even if we aren't around anymore.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Passionate Custom Software Solutions</h3>
                    <p class="text-muted">
                      We passionately deliver only the best possible software
                      solutions to our customers. We love what we're doing and
                      you can profit from that.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
