nav ul a {
 color: black !important;
 cursor: pointer;
 font-size: 1rem;
 letter-spacing: 0.1em !important;
 padding: 0 15px;
 text-transform: uppercase !important;
 transition: background-color .3s;
}
nav {
 background-color: #fff !important;
 color: #000;
 width: 100%;
}
hr.sepr {
 background: #333;
 background-image: -moz-linear-gradient(to left, #ccc, #333);
 background-image: -ms-linear-gradient(to left, #ccc, #333);
 background-image: -o-linear-gradient(to left, #ccc, #333);
 background-image: -webkit-gradient(linear, to left, from(#ccc), to(#333));
 background-image: -webkit-linear-gradient(to left, #ccc, #333);
 border: 0;
 height: 1px;
}
hr.mid-sepr {
 background: #333;
 background: -webkit-linear-gradient(left, transparent 0%,#000 50%,transparent 100%);
 background: -moz-linear-gradient(left, transparent 0%,#000 50%,transparent 100%);
 background: linear-gradient(to left, transparent 0%,#000 50%,transparent 100%); border: 0;
 height: 1px;
}
.quote-tagline {
 background-color: lightslategrey;
 color: white;
 display: inline-block;
 display: -webkit-inline-box;
 font-size: 18px;
 font-weight: 400;
 letter-spacing: 0.1em;
 padding-left: 0.2em;
 padding-right: 0.2em;
 text-transform: uppercase;
}
.full {
 display: flex;
 justify-content: space-between;
 list-style-type: none;
 margin-left: 15.0em !important;
 margin-right: 15.0em !important;
 text-align: center;
}
.tabs.nav-tabs {
 letter-spacing: 0.2em;
}
nav .brand-logo {
 color: black;
}
nav ul a {
 color: black;
}
.tabs .tab a:hover,
.tabs .tab a.active {
 background-color: transparent;
 color: black;
}
nav {
 background-color: white;
}
.tabs .tab a {
 color: grey;
}
.tabs .indicator {
 background-color: black;
 bottom: 0;
 position: absolute;
}
.viper-subtitle {
 font-family: Roboto;
 font-size: 20px;
 font-weight: 300;
 letter-spacing: 0.2em;
 text-align: center;
 text-transform: uppercase;
}
.dive-title {
 font-family: "Roboto";
 font-size: 5em;
 font-weight: 200;
 padding: 0.5em;
 text-align: center;
}
.title {
 font-family: "Roboto";
 font-size: 10em;
 font-weight: 200;
 padding: 0.5em;
 text-align: center;
}
.service-title {
 font-family: Roboto;
 font-size: 28px;
 font-weight: 300;
 letter-spacing: 0.2em;
}
.workshops {
 color: darkred;
 font-weight: 600;
}
.people {
 color: darkgrey;
 font-weight: 600;
}
.add {
 color: purple;
 font-weight: 600;
}
.service-desc {
 line-height: 2;
}
body {
 display: flex;
 flex-direction: column;
 min-height: 100vh;
}
main {
 flex: 1 0 auto;
}
.page-footer {
 background-color: lightslategrey !important;
 margin-top: 20px;
 padding-top: 20px;
}
.input-field {
 background-color: whitesmoke;
}
.white-text {
 font-weight: 200 !important;
}
.btn,
.btn-large {
 background-color: darkslategrey !important;
 color: #fff;
 cursor: pointer;
 letter-spacing: .5px;
 text-align: center;
 text-decoration: none;
 transition: .2s ease-out;
}
.btn:hover,
.btn-large:hover {
 background-color: grey;
}
.wsp-img {
 width: 300px;
}
.wsp-large {
 width: 30em;
}
.service-row {
 align-items: center;
 display: flex;
 justify-content: center;
}
.nav-row {
 margin-left: 0px !important;
 margin-right: 0px !important;
}
@media only screen and (min-width: 601px) {
}
.material-icons {
 font-size: 2em;
}
.dive-title-1 {
 font-size: 0.5em;
}
nav .side-nav li.active {
 background-color: rgba(0, 0, 0, 0.05) !important;
 border-bottom: 0px !important;
}
nav ul li.active {
 background: none !important;
 border-bottom: 2px solid black;
 font-weight: 900 !important;
}
.showcase-gi {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 margin-top: 1em;
}
.showcase-gi-quote {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 margin-top: 1em;
}
.showcase-card-gi {
 margin-bottom: 2em !important;
 margin-left: 0.2em !important;
 margin-right: 0.2em !important;
 margin-top: 0em !important;
 width: 180px;
}
.showcase-card-gi-quote {
 background-color: lightslategrey !important;
 font-family: Roboto !important;
 line-height: 2;
 margin-bottom: 2em !important;
 margin-left: 0.5em !important;
 margin-right: 0.5em !important;
 margin-top: 0em !important;
 width: 320px;
}
.card-title {
 padding-left: 1em;
 padding-top: 0.3em;
}
a > .card {
 color: black !important;
}
a:hover > .card {
 color: black !important;
}
.profile-img {
 border-radius: 100%;
 margin-top: -5em;
}
.empty {
 background-color: #eceff1 !important;
 height: 5em;
}
.profile-data {
 background-color: lightslategrey !important;
 color: white;
 height: 300px;
}
.person-name {
 font-size: 1.1em;
 font-weight: 300;
 text-align: center;
}
.small-heading-light {
 color: lightgray;
 font-size: 12px;
 font-weight: 500;
 letter-spacing: 0.1em;
 opacity: 0.2;
 text-align: center;
}
.person-contributions {
 letter-spacing: 0.1em;
 margin-top: 2em;
 text-align: center;
}
.person-github-id {
 font-size: 0.8em;
 opacity: 0.7;
 padding: 0.5em;
 text-align: center;
}
.person-github-bio {
 font-size: 0.8em;
 padding-top: 0.5em;
 text-align: center;
}
.github-link {
 bottom: 0;
 margin-top: 1em;
}
.gi-container-title {
 font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
 font-size: 5em;
 font-weight: 100;
 text-align: center;
}
.gi-container-title-header {
 font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
 font-size: 6em;
 font-weight: 200;
 text-align: center;
}
.contributions-row {
 bottom: 0;
 margin-bottom: 0px !important;
 padding-bottom: 1em;
 position: absolute;
 text-align: center;
 width: 180px;
}
.dive-title-1 {
 font-size: 0.5em;
}
.prob-1 {
 color: darkslategrey;
}
.prob-col {
 text-align: justify;
}
.fa-frown-o {
 text-align: center;
}
.problem {
 font-family: "Amatic SC";
 font-size: 2.5em;
 word-spacing: 0.2em;
}
.john-title {
 font-family: "Amatic SC";
 font-size: 5em;
 word-spacing: 0.2em;
}
.john-small {
 font-family: "Amatic SC";
 font-size: 3em;
 word-spacing: 0.3em;
}
.decides {
 font-weight: 700;
}
.prob-2 {
 color: darkblue;
}
.prob-3 {
 color: midnightblue;
}
.menu-icon {
 color: black;
}
.viperdev-call {
 font-family: Roboto;
 font-size: 0.7em;
 font-weight: 300;
}
.john-smile {
 font-size: 5em !important;
}
.fa-code-fork,
.fa-terminal,
.fa-laptop {
 text-align: center;
}
.my-fa {
 font-size: 3em !important;
 text-align: center;
}
.plain-fa {
 font-size: 1em !important;
}
#sidenav-overlay {
 z-index: 1 !important;
}
.workshop-schedule {
 background: lightseagreen;
 border-left: 8px solid darkslategray;
 color: white;
 font-size: 1.5em;
 font-weight: 200;
 margin-bottom: 1em;
 padding: 0.3em;
}
.footer-nav-links > li > a {
 color: white;
 line-height: 1.5em;
}
.profile-data-quote {
 background: lightslategray !important;
 color: white !important;
 padding: 2.5em !important;
}
.person-name-quote {
 font-size: 18px;
 font-weight: 300;
 line-height: 1.2 !important;
 padding: 1em;
 text-align: center;
}
.mailbtn {
 display: inline-flex !important;
}
.mailicn {
 padding-left: 0.5em;
}
.change-row {
 margin-bottom: 0px !important;
}
.change-dive {
 padding: 0em !important;
}
@media only screen and (max-width: 500px) {
 .title {
 font-size: 3em;
 }
 .dive-title {
 font-size: 2em;
 }
}
@media only screen and (min-width: 500px) and (max-width: 700px) {
 .title {
 font-size: 5em;
 }
 .dive-title {
 font-size: 3em;
 }
}
.small-heading {
 font-size: 22px;
 font-weight: 300;
 text-align: center;
}
.plans {
 font-weight: 300;
}
.plans > ul > li {
 list-style-type: disc;
}
.small-fields-3 {
 background-color: #607d8b !important;
 color: white;
 letter-spacing: 0.1em;
 text-align: center;
 text-transform: uppercase;
}
.quote-data {
 background-color: #607d8b !important;
 color: white !important;
 height: 28em;
 padding-left: 2.5em !important;
 padding-right: 2.5em !important;
}
.small-fields-2 {
 background-color: #37474f !important;
 color: white;
 letter-spacing: 0.1em;
 text-align: center;
 text-transform: uppercase;
}
.small-fields {
 background-color: #263238 !important;
 color: white;
 letter-spacing: 0.1em;
 text-align: center;
 text-transform: uppercase;
}
.name-quote {
 font-size: 18px;
 font-weight: 400;
 line-height: 1.2 !important;
 padding-left: 1em;
 padding-right: 1em;
 padding-top: 1em;
 text-align: center;
}
.prob-1 {
 background-color: lightblue;
 padding: 1em;
}
.prob-2 {
 background-color: lightcyan;
 padding: 1em;
}
.prob-3 {
 background-color: lightgrey;
 padding: 1em;
}
.mailbtn {
 display: inline-flex !important;
 width: 14em;
}
.mailicn {
 padding-left: 0.5em;
}
.problem {
 text-align: justify !important;
 text-transform: uppercase;
}
.small-name-quote {
 font-weight: 300;
 margin-top: 0.5em;
 text-align: center;
}
.empty-quote {
 background-color: #eceff1 !important;
 height: 8em;
}
.showcase-gi {
 margin-left: 0em !important;
 margin-right: 0em !important;
}
.person-github-bio > a {
 margin-right: 0em !important;
 text-transform: none !important;
}
.person-github-id > a {
 color: whitesmoke !important;
 cursor: auto !important;
 margin-right: 0em !important;
 text-transform: none !important;
}
.person-github-id > a:hover {
 color: orange !important;
 cursor: auto !important;
 margin-right: 0em !important;
 text-transform: none !important;
}
.person-short-tagline {
 color: whitesmoke;
 font-size: 12px;
 font-weight: 500;
 letter-spacing: 0.1em;
 padding: 0.2em;
 text-align: center;
 text-transform: uppercase !important;
}
.sfr {
 margin-bottom: 0px !important;
}
.small-fields-group {
 bottom: 0 !important;
 margin-bottom: 0px !important;
 position: absolute;
 text-align: center;
 width: 100%;
}
.small-fields-group > div {
 padding: 1em !important;
}
.disclaimer-pricing {
 text-align: center;
}
.footer-navigation {
 color: whitesmoke !important;
}
.or-text {
 color: lightgrey;
 padding: 0.5em;
}
.mailbtn-below {
 padding-left: 2.5em;
}
q {
 quotes: "\201C" "\201D" "\2018" "\2019";
}
